body {
    color: white;
    margin: 0;
}

.p1_name, .p2_name {
    position: absolute;

    font-family: "Univers LT Std";
    font-size: 102px;
    font-weight: 900;
    font-style: italic;

    text-transform: uppercase;

    /* background-color: red; */
}

.p1_name {
    left: 275px;
    top: 52px;
    text-align: left;
}

.p2_name {
    right: 95px;
    bottom: 72px;
    text-align: right;
}