body {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.p1_side, .p2_side {
    position: absolute;
    top: 10%;
    width: 50%;
    height: 90%;
}

.p1_side:active {
    background-color: darkred;
    transition: all 0.1s;
}

.p2_side:active {
    background-color: darkblue;
    transition: all 0.1s;
}

.p1_side {
    left: 0;
    background-color: red;
}

.p2_side {
    right: 0;
    background-color: blue;
}

.p1_name_d, .p2_name_d {
    font-size: 6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: gold; */
}

.p1_score, .p2_score {
    font-size: 18vw;
}

.menubar {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    height: 10%;
    font-size: 4vh;
}

.menu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8);
    font-size: 4vw;
}

.menuContent {
    /* background-image: linear-gradient(0deg, rgb(0, 0, 50), rgb(0, 0, 100)); */
    /* background-image: linear-gradient(270deg, rgb(0, 0, 255), rgb(255, 0, 0)); */
    background-color: lightgray;
    position: absolute;
    border-radius: 10px;
    padding: 1%;
    top: 2%;
    left: 1%;
    width: 98%;
    display: grid;
    grid-template-areas:
    'options'
    'names'
    'commentary';
    gap: 10px;
    /* background-color: #2196F3; */
}

.listButtons {
    display: grid;
    grid-template-columns: auto auto;
}

.closeButton {
    background-color: red;
    color: white;
}

.updateButton {
    background-color: forestgreen;
    color: white;
}

.fullscreenButton {
    background-color: steelblue;
    color: white;
}

.options {
    grid-area: options;
    display: grid;
    grid-template-columns: 32% 36% 32%;
}

.p1_name {
    padding-left: 0.5em;
}

.p2_name {
    text-align: right;
    padding-right: 0.5em;
}

.p1_select, .p2_select {
    background-color: gold;
}

.names {
    grid-area: names;
    display: grid;
    grid-template-columns: auto;
}

.name-group-1 {
    display: grid;
    grid-template-columns: 20% 80%;
}
.name-group-2 {
    display: grid;
    grid-template-columns: 80% 20%;
}

.commentary {
    grid-area: commentary;
}
