:root {
    --name: white;
    --score: white;
}

body {
    margin: 0;
    font-family: "Lato";
    font-weight: 600;
    /* font-style: italic; */
    /* text-shadow: 0px 0px 8px black; */
}

.p1_name {
    right: 1242px;
}

.p2_name {
    left: 1242px;
}

.p1_name, .p2_name {
    position: absolute;
    text-align: center;
    top: -2px;
    width: 450px;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--name);
    font-size: 40px;
    /* background-color: rgba(255, 0, 234, 0.8); */
    text-shadow: 0px 0px 10px #6ae4ff, 0px 0px 20px black;
}

.p1_score {
    left: 847px;
}

.p2_score {
    right: 847px;
}

.p1_score, .p2_score {
    /* font-family: "Liberation Sans"; */
    text-align: center;
    position: absolute;
    top: 0;
    width: 70px;
    color: white;
    font-size: 62;
    font-style: normal;
    /* background-color: red; */
    /* outline: 3px solid white; */
    text-shadow: 0px 0px 10px #6ae4ff, 0px 0px 20px black;
}

.format {
    font-family: "Lato";
    text-align: center;
    color: white;
    font-size: 22;
    font-weight: 600;
    margin: 2px auto;
    width: 200px;
    font-style: normal;
    text-shadow: 0px 0px 10px #6ae4ff, 0px 0px 20px black;
    /* background-color: gold; */
}

