:root {
    --name: white;
    --score: white;
    --namesize: 30;
    --scoresize: 64;
}

body {
    color: white;
    margin: 0;
    font-family: "Conspiracy";
    font-weight: normal;
    font-style: normal;
    /* text-shadow: 0px 0px 6px black; */
}

.match_info {
    position: absolute;
    bottom: 78px;
    right: 78px;
    width: 800px;
    height: 474px;
    /* background-color: yellow; */
}

.p1_name, .p2_name {
    font-family: "Conspiracy";
    /* display: none; */
    position: absolute;
    text-align: center;
    text-shadow: 0 0 8px black, 0 0 8px black;
    left: 20px;
    top: 45px;
    width: 520px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--name);
    font-size: 54px;
    /* font-weight: bold; */
    /* background-color: violet; */
}

.p2_name {
    top: 205px;
}

.current_match {
    position: relative;
    background-image: magenta;
    height: 100px;
    width: 1249px;
    margin-top: 20px;
}

.p1_score, .p2_score {
    /* display: inline; */
    color: #bd0000;
    text-shadow: 0 0 8px black, 0 0 8px black;
    text-align: center;
    position: absolute;
    left: 640px;
    top: 10px;
    width: 90px;
    height: 100px;
    font-size: 124px;
    /* background-color: blue; */
}

.p2_score {
    top: 170px;
}

.scores {
    /* background-color: turquoise; */
    text-align: center;
    margin-top: 80px;
    /* background-image: linear-gradient(90deg, red, blue); */
    /* display: inline-block; */
}

.p1_next {
    color: white;
    display: inline;
    /* background-color: red; */
    /* margin-left: 5px; */
    /* float: left; */
    /* width: 285px; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* color: rgb(255, 90, 90); */
}

/* .vs {
    background-color: yellow;
} */

.vsnext {
    /* background-image: linear-gradient(120deg, red 50%, blue 50%); */
    font-size: 32px;
    margin: 0 12px;
    /* margin-left: 5px; */
    font-style: normal;
    /* float: right; */
    /* background-clip: text;
    -webkit-background-clip: text;
    text-shadow: none;
    color: transparent; */
}

.p2_next {
    color: white;
    display: inline;
    /* background-color: blue; */
    /* float: right; */
    /* width: 285px; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* color: rgb(90, 90, 255); */
}

.nextup {
    position: absolute;
    text-align: center;
    text-shadow: 0 0 8px black, 0 0 8px black;
    font-size: 44px;
    /* width: 610px; */
    bottom: 6px;
    right: 0;
    width: 800px;
    /* border: 2px solid white; */
    /* background-color: yellow; */
    /* text-shadow: 0 0 6px black; */
    /* background-image: linear-gradient(90deg, red,  blue); */
}

.next_in_line {
    font-family: "OrchideeMedium";
    color: #bd0000;
    text-shadow: 0 0 8px black, 0 0 8px black;
    position: absolute;
    text-align: center;
    font-size: 56px;
    width: 800px;
    bottom: 80px;
    /* left: 6px; */
    /* background-color: violet; */
}

.format_info {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: white;
    position: absolute;
    bottom: 600px;
    left: 78px;
    width: 896px;
    /* height: 100px; */
    /* background-color: blue; */
}

/* .format {
    background-color: blue;
} */

.format_name {
    text-align: center;
    font-size: 40px;
}

/* .casters {
    background-color: palevioletred;
} */

.commentary_label {
    /* margin-top: 120px; */
    /* position: absolute; */
    text-align: center;
    font-family: "Teko";
    font-weight: bold;
    font-style: italic;
    font-size: 54px;
    margin-top: auto;
    /* background-color: yellow; */
    /* width: 485px;
    bottom: 50px; */
}

.commentary {
    font-family: "OrchideeMedium", "My Underwood";
    font-style: normal;
    color: #bd0000;
    text-shadow: 0 0 8px black, 0 0 8px black;
    text-align: center;
    font-size: 38px;

}

