:root {
    --name: white;
    --score: white;
    --namesize: 30;
    --scoresize: 64;
}

body {
    color: white;
    margin: 0;
    font-family: "Lato";
}

#img_winner_char {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#char_quote {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 128px;
}