body {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.p1_side, .p2_side {
    position: absolute;
    top: 10%;
    width: 50%;
    height: 90%;
}

.p1_side {
    left: 0;
    background-color: red;
}

.p2_side {
    right: 0;
    background-color: blue;
}

.p1_name, .p2_name {
    font-size: 6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: gold; */
}

.p1_score, .p2_score {
    font-size: 18vw;
}

.menubar {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 10%;
    font-size: 4vh;
}
