body {
    background-image: linear-gradient(0deg, rgb(50, 50, 50), rgb(0, 0, 50));
    color: white;
    text-align: center;
}

input {
    text-align: center;
}

.scores {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), blue);
    /* padding-bottom: 2%; */
    margin: 2% auto;
    border-radius: 15px;
}

/* #p1_score, #p2_score {
    width: 25%;
} */

.nextup {
    background-color: none;
    padding-bottom: 2%;
    margin: 2% auto;
}

.commentary {
    /* background-color: rgba(0, 0, 0, 0.2); */
    padding-bottom: 2%;
    margin: 2% auto;
}

.mobile-button {
    display: none;
}

.dropdown-toggle {
    background-color: white;
    border-color: #ced4da;
    height: 2.375rem;
}

.p1toggle, .p1ntoggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p2toggle, .p2ntoggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#msg {
    position: absolute;
    width: 100%;
    display: none;
    font-size: 2em;
    font-weight: bold;
}

.ok {
    background-color: green;
}

.err {
    background-color: crimson;
}

.notice {
    border: 6px solid red;
}
@media only screen and (max-width: 768px) {
    .desktop-button {
        display: none;
    }
    .mobile-button {
        display: inline-block;
    }
}